{% extends "base.html" %}
{% block head %}
    <h2 class="uk-text-center">{{ page.title }}</h2>
    <p class="uk-article-meta uk-text-center">
        <span title="{{ page.author|default(Jinxiapu) }}">{{ page.author|default(Jinxiapu) }}</span>
        -
        <span class="date" title="{{ page.detailtime }}">
            {{ page.date }}
        </span>
        -
        <span class="tags">
            {% for tag in page.tags %}
                <a href="{{ site.url }}{{ tag.url }}">{{ tag.name|e }}</a>
            {% endfor %}
        </span>
    </p>
{% endblock %}
{% block content %}
    <div class="uk-card uk-card-default uk-card-body">
        <div class="markdown-body">
            {{ page.content|safe }}
        </div>
    </div>
{% endblock %}
{% block sidecard %}
    {{ page.toc|safe }}
{% endblock %}