<div class="uk-child-width-1-1 uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-body">
            <img class="uk-border-circle uk-position-top-center uk-margin-top" width="60" height="60" src="https://static.jinxiapu.cn/image/me.jpg">
        </div>
    </div>
    <div>
        <p class="uk-text-lead">何妨吟啸且徐行</p>
    </div>
    <div class="icons">
        <a class="uk-icon-link uk-icon-button" href="https://github.com/jinxiapu" target="_blank">
            <img class="icon" width="16" height="16" src="{{ site.url }}img/github.svg" alt="github" />
        </a>
        <a class="uk-icon-link uk-icon-button" href="mailto:me@jinxiapu.cn">
            <img class="icon" width="16" height="16" src="{{ site.url }}img/email.svg" alt="email" />
        </a>
    </div>
</div>